/* Buttons

    <a class="button">button</a>
    <a class="button button--small">small</a>
    <a class="button button--hero">hero</a>
    <a class="button button--outline">outline</a>
*/
.button{
    padding: 7px 10px;
    background: $color-1;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $color-2;
    }

    &--small {
        padding: 3px 3px;
        text-transform: none;
    }

    &--hero {
        font-size: 1.5em;
        border: 1px solid #000;
        padding: 140px 30px;
    }

    &--outline {
        background: transparent;
        border: 1px solid $color-1;
    }

    &--outline:hover {
        background-color: transparent;
        border-color: $color-2;
    }
}
