// A simple button.
//
// default          - simple default button
// :disabled        - disabled button
// .small           - small button
// .hero            - big hero button
// .outline         - button with outlines only
//
// markup:
// <button class="buildit {$modifiers}">Button</button>
//
// Styleguide 1.1
button.buildit {
    padding: 7px 10px;
    background: $color-one;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $color-two;
    }

    &.small {
        padding: 3px 3px;
        text-transform: none;
    }

    &.hero {
        font-size: 1.5em;
        border: 1px solid #000;
        padding: 30px 140px;
    }

    &.outline {
        background: transparent;
        border: 1px solid $color-one;
    }

    &.outline:hover {
        background-color: transparent;
        border-color: $color-two;
    }

    &:disabled {
        text-decoration: line-through;
    }
}
