---
- hosts: all
  vars:
    document_root: /vagrant
  pre_tasks:
    - name: update apt cache
      apt: update_cache=yes
      sudo: yes
  roles:
    - webserver
    - database
    - ruby
    - devtools
    - node
