/* line 1, /Users/rdg/repos/buildit/src/sass/theme/base/page */
body {
  background-color: #333;
  color: #eee; }

/* line 1, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
html {
  box-sizing: border-box; }

/* line 5, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 9, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 18, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 22, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
body {
  line-height: 1; }

/* line 26, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
ol, ul {
  list-style: none; }

/* line 30, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
blockquote, q {
  quotes: none; }

/* line 34, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

/* line 38, /Users/rdg/repos/buildit/src/sass/theme/base/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 2, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
html, body {
  height: 100%;
  min-height: 100%; }

/* line 15, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-wrapper {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -50px; }

/* line 25, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-header {
  height: 50px;
  background-color: #6495fe; }

/* line 30, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-header-content {
  height: 42px;
  padding: 8px; }

/* line 35, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-push {
  height: 50px;
  clear: both; }

/* line 40, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-main {
  height: 100%; }

/* line 44, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-footer {
  height: 50px; }

/* line 48, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-footer-content {
  height: 42px;
  padding: 8px; }

/* line 53, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-sidebar {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 200px;
  padding: 8px;
  background-color: #ffa90e; }

/* line 63, /Users/rdg/repos/buildit/src/sass/theme/layout/onepagesidebar */
#l-content {
  margin-left: 200px; }

/* line 9, /Users/rdg/repos/buildit/src/sass/theme/modules/article */
.article p {
  margin-bottom: 10px; }
/* line 13, /Users/rdg/repos/buildit/src/sass/theme/modules/article */
.article p::first-letter {
  color: #bbbbbb;
  font-size: 150%; }

/* line 13, /Users/rdg/repos/buildit/src/sass/theme/modules/button */
.buildit {
  padding: 7px 10px;
  border-radius: 3px;
  background: #6495fe;
  cursor: pointer;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
  /* line 22, /Users/rdg/repos/buildit/src/sass/theme/modules/button */
  .buildit:hover {
    background-color: #fc0e1a; }
  /* line 26, /Users/rdg/repos/buildit/src/sass/theme/modules/button */
  .buildit.small {
    padding: 3px;
    text-transform: none; }
  /* line 31, /Users/rdg/repos/buildit/src/sass/theme/modules/button */
  .buildit.hero {
    padding: 30px 140px;
    border: 1px solid #000;
    font-size: 1.5em; }
  /* line 37, /Users/rdg/repos/buildit/src/sass/theme/modules/button */
  .buildit.outline {
    border: 1px solid #6495fe;
    background: transparent; }
  /* line 42, /Users/rdg/repos/buildit/src/sass/theme/modules/button */
  .buildit.outline:hover {
    border-color: #fc0e1a;
    background-color: transparent; }
  /* line 47, /Users/rdg/repos/buildit/src/sass/theme/modules/button */
  .buildit:disabled {
    text-decoration: line-through; }



/*# sourceMappingURL=theme.css.map */