<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="sass/theme.css"></head>
<body id="app">
    <!--[if lt IE 8]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
        browser</a> to improve your experience.
    </p>
    <![endif]-->
<<<<<<< HEAD
    <div id="l-wrapper">
        <div id="l-header">
            <div id="l-header-content">Header</div>
        </div>
        <div id="l-main">
            <div id="l-sidebar">
                <ul class="menu"></ul>
            </div>
            <div id="l-content">
                <action-button params="icon: 'user', title: 'user', event: 'test-clicked', data: 'test',
                id: 'testbutton', parent: $root"></action-button>
                <action-button params="icon: 'globe', title: 'globe', event: 'globe-clicked', data: 'test',
                id: 'globebutton', parent: $root"></action-button>
            </div>
            <div id="l-push"></div>
        </div>
    </div>
    <div id="l-footer">
        <div id="l-footer-content">Footer</div>
    </div>
=======
>>>>>>> 9c46d0ecf655a9394e99240bbec6a68824bff59e
    <% if(production) { %>
        <script src="js/app.js"></script>
    <% } else { %>
        <script src="jspm_packages/system.js"></script>
        <script src="jspm_config.js"></script>
        <script>System.import('js/main');</script>
    <% } %>
</body>
</html>
